# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# Outputs / data
output/